<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('layout/metaSection') %>
</head>

<body>
    <%- include ('layout/header') %>
        <div id="navi">
            <ul>
                <li><a class="active" href=".">Validate</a></li>
                <li><a href="/splitter">File Splitter</a></li>
                <li><a href="/files">Stored Files</a></li>
            </ul>
        </div>
        <div id="myModal" class="itemModal">
            <div id="topMenu">
                <span id="dimensions">Dimensions</span>
                <span id="zoomInButton" class="zoomIn noselect">+&#x2315;</span>
                <span id="zoomOutButton" class="zoomOut noselect">-&#x2315;</span>
                <span class="fullscreenButton noselect" id="fullscreenImageModal">&#9724;</span>
                <span class="screenCloseButton noselect" id="closeModal">&times;</span>
            </div>
            <img class="imageModal-Content" id="img01" src="">
            <div id="caption"></div>
            <div id="modalFullScreenClose"></div>
        </div>

        <%- include ('layout/menu') %>
            <div id="MappingSetting" class="ui-widget-content">
                <div id="MappingSelection"></div>
                <div id="outputMapping"></div>
            </div>
            <%- include ('layout/tools') %>
                <p id="AjaxOutput"></p>
                <div id="check"> </div>
                <%- include ('layout/loadingHexagon') %>
                    <script>
                        $(function() {
                            $('#downloadFile').click(function() {
                                new FeedManager();
                            });
                            $("#file").change(function() {
                                new FeedManager(false, true);
                            });
                            $('#clearFiles').click(function() {
                                new FeedManager(true);
                            });
                        });
                        $('document').ready(function() {
                            if (/\.csv|\.xml|\.zip|\.gz|\.txt|\.json/.test(window.location.href)) {
                                console.log(window.location.href.replace(/.*(8060\/\s*)(?!.*8060\/)/, ""));
                                let fileName = window.location.href.replace(/.*(8060\/\s*)(?!.*8060\/)/, "");
                                new FeedManager(false, false, true, fileName);
                            }
                        });
                        $(document).ajaxStart(function() {
                            $('#loading').show();
                        }).ajaxStop(function() {
                            $('#loading').hide();
                        });
                    </script>
</body>

</html>