<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('metaSection') %>
</head>

<body>
    <%- include ('header') %>
        <div id="myModal" class="itemModal">
            <div id="topMenu">
                <span id="dimensions">Dimensions</span>
                <span id="zoomInButton" class="zoomIn noselect">+&#x2315;</span>
                <span id="zoomOutButton" class="zoomOut noselect">-&#x2315;</span>
                <span class="fullscreenButton noselect" id="fullscreenImageModal">&#9724;</span>
                <span class="screenCloseButton noselect" id="closeModal">&times;</span>
            </div>
            <img class="imageModal-Content" id="img01" src="">
            <div id="caption"></div>
            <div id="modalFullScreenClose"></div>
        </div>

        <%- include ('menu') %>
            <div id="MappingSetting" class="ui-widget-content">
                <div id="MappingSelection"></div>
                <div id="outputMapping"></div>
            </div>
            <%- include ('tools') %>
                <p id="AjaxOutput"></p>
                <div id="check"> </div>
                <%- include ('loadingHexagon') %>
                    <script>
                        $(function() {
                            $('#downloadFile').click(function() {
                                new FeedManager();
                            });
                            $("#file").change(function() {
                                new FeedManager(false, true);
                            });
                            $('#clearFiles').click(function() {
                                new FeedManager(true);
                            });
                            $('#tools').click(function() {
                                new ToolsManager();
                            });
                        });
                        $(document).ajaxStart(function() {
                            $('#loading').show();
                        }).ajaxStop(function() {
                            $('#loading').hide();
                        });
                    </script>
</body>

</html>