<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('layout/metaSection') %>
        <style>
            #files {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                min-width: 50%;
                margin: 2%;
                padding: 0;
            }
            
            #files td,
            #customers th {
                border: 1px solid #ddd;
            }
            
            #files td {
                text-align: left;
            }
            
            #files tr:nth-child(even) {
                background-color: #f2f2f2;
            }
            
            #files tr:hover {
                background-color: #ddd;
            }
            
            #files th {
                padding: 12px;
                text-align: left;
                background-color: rgba(40, 158, 162, 1);
                color: white;
            }
            
            #files td {
                padding: 0px 12px 0px 12px;
            }
            
            #fileList {
                position: relative;
                margin-left: 3%;
                width: 95%;
                z-index: 2;
            }
            
            #uploadButton {
                width: 150px;
                text-align: center;
                font-family: "Raleway";
                font-size: 20px;
                margin-left: 5%;
                margin-top: 5%;
                padding: 10px 20px 10px 20px;
                color: #999;
                box-shadow: 0px 3px 5px grey;
                text-decoration: none;
            }
            
            #uploadButton:hover {
                background-color: #999;
                color: white;
            }
            
            a {
                text-decoration: none;
            }
            
            a:visited {
                text-decoration: none;
                color: blue;
            }
            
            a:hover {
                text-decoration: none;
                color: blue;
            }
            
            a:focus {
                text-decoration: none;
                color: yellow;
            }
            
            a:hover,
            a:active {
                text-decoration: none;
                color: black
            }
        </style>
</head>

<body>
    <%- include ('layout/header') %>
        <div id="navi">
            <ul>
                <li><a href=".">Validate</a></li>
                <li><a href="/splitter">File Splitter</a></li>
                <li><a class="active" href="/files">Stored Files</a></li>
                <li><a href="/logs">Logs</a></li>
            </ul>
        </div>
        <br/><a href="/files/uploadfeed" id="uploadButton">Upload</a>
        <progress max="100" value="<%= percent %>"></progress>
        <div id="fileList">
            <table id="files">
                <tr>
                    <th>Filename</th>
                    <th>Created</th>
                    <th>Size</th>
                    <th>Download</th>
                    <th>Validate</th>
                    <th>Delete</th>
                </tr>

                <% for (var i = 0; i < feedList.length; i++) { %>
                    <tr>
                        <td>
                            <%= feedList[i].file %>
                        </td>
                        <td>
                            <%= feedList[i].date.toUTCString(); %>

                        </td>
                        <td>
                            <%= feedList[i].size %>
                        </td>
                        <td>
                            <a href="/files/<%=feedList[i].file %>">Download</a>
                        </td>
                        <td>
                            <form action="/<%=feedList[i].file %>" method="post">
                                <input type="submit" value="Launch">
                            </form>
                        </td>
                        <td>
                            <a href="/files/delete/<%=feedList[i].file %>">Delete</a>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>

</body>

</html>