<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('metaSection') %>
        <style>
            #files {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                min-width: 50%;
                margin: 2%;
                padding: 0;
            }
            
            #files td,
            #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }
            
            #files td {
                text-align: left;
            }
            
            #files tr:nth-child(even) {
                background-color: #f2f2f2;
            }
            
            #files tr:hover {
                background-color: #ddd;
            }
            
            #files th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: rgba(40, 158, 162, 1);
                color: white;
            }
            
            #fileList {
                position: relative;
                margin-left: 3%;
                width: 95%;
                z-index: 2;
            }
        </style>
</head>

<body>
    <%- include ('header') %>
        <div id="navi">
            <ul>
                <li><a href=".">Validate</a></li>
                <li><a href="/splitter">File Splitter</a></li>
                <li><a class="active" href="/files">Stored Files</a></li>
            </ul>
        </div>
        <div id="fileList">
            <table id="files">
                <tr>
                    <th>Filename</th>
                    <th>Size</th>
                    <th>Download</th>
                </tr>

                <% for (var i = 0; i < feedList.length; i++) { %>
                    <tr>
                        <td>
                            <%= feedList[i].file %>
                        </td>
                        <td>
                            <%= feedList[i].size %>
                        </td>
                        <td>
                            <a href="/files/<%=feedList[i].file %>">Download</a>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>

</body>

</html>